<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages theme="Theme1"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="localhost.WebServiceVisa" value="http://localhost:57556/WebsiteClinic/WebServiceVisa.asmx"/>
  <add key="localhost.WebServiceTips" value="http://localhost:57556/WebsiteClinic/WebServiceTips.asmx"/>
  </appSettings>
</configuration>